{% extends "base.html" %}
{% block title %} Account {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Account</h1>
<p>Hello {{ user.first_name }} </p>
<div>
    <img src="/static/chelonia-turtle.svg" alt="chelonia-turtle">
</div>
<div>
    <h3>Your data</h3>
    <p>E-mail: {{ user.email }}</p>
    <p>Venue e-mail: {{ user.venue_email }}</p>
    <p>Bookings: {{ user.bookings }}</p>
    <p>Address: {{ user.street }} {{ user.house_no }} {{ user.postal_code }} {{ user.city }}</p>
    <p>Urban Sports Club membership number: {{ user.urban_sports_member_no }}</p>
</div>
<div>
    <button class="btn btn-primary mt-4" type="submit" onclick="window.location.href='/user/logout'">Log out</button>
</div>
{% endblock %}