{% extends "base.html" %}
{% block title %} Bookings {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Your Bookings</h1>
<div class="container d-flex justify-content-center">
    <div class="mt-5">
        <table class="table">
            <th>Date</th>
            <th>Time</th>
            <th>Venue Id</th>
            <th>Confirmation code</th>
            <th>Ticket creation earliest at</th>
            <th>Ticket Id</th>
            <th>Created at</th>
            <th>Booking Id</th>
            {% for booking in user.bookings %}
            <tr>
                <td>{{ booking.datetime_event.date() }}</td>
                <td>{{ booking.datetime_event.time() }}</td>
                <td>{{ booking.venue_id }}</td>
                <td>{{ booking.confirmation_code }}</td>
                <td>{{ booking.earliest_ticket_datetime }}</td>
                <td>{{ booking.ticket.id }}</td>
                <td>{{ booking.created_at }}</td>
                <td>{{ booking.id }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}