{% extends "base.html" %}
{% block title %} Show Booking {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Your Booking</h1>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <table class="table">
                <tr>
                    <th>Booking id</th>
                    <td>{{ booking.id }}</td>
                </tr>
                <tr>
                    <th>Venue id</th>
                    <td>{{ booking.venue_id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ booking.datetime_event.date() }}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{ booking.datetime_event.time() }} UTC</td>
                </tr>
                <tr>
                <tr>
                    <th>Ticket status</th>
                    <td> {{ booking.ticket.status }} </td>
                </tr>
                    <th>Your user id</th>
                    <td>{{ booking.user_id }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ booking.created_at }}</td>
                </tr>
                <tr>
                    <th>Confirmation code</th>
                    <td>{{ booking.confirmation_code }}</td>
                </tr>
                <tr>
                    <th>Ticket creation earliest at</th>
                    <td>{{ booking.earliest_ticket_datetime }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}