<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create booking</title>
</head>
<body>
<h1>Create booking</h1>
<form class="booking-form" id="booking-form" action="/booking/create" method="POST">
    <div class="form-group col-lg-4 mx-auto mt-2" id="venue_url">
        {{ form.venue_name.label }}
        {{ form.venue_name(class_="form-control mt-2",  id="venue_name", placeholder="Venue name")}}
        {% for error in form.venue_name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group col-lg-4 mx-auto mt-2" id="date_event">
        {{ form.date_event.label }}
        {{ form.date_event(class_="form-control mt-2",  id="date_event", placeholder="Date")}}
        {% for error in form.date_event.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group col-lg-4 mx-auto mt-2" id="time_event">
        {{ form.time_event.label }}
        {{ form.time_event(class_="form-control mt-2",  id="time_event", placeholder="Time")}}
        {% for error in form.time_event.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        <button class="btn btn-primary mt-4" type="submit">Create booking</button>
    </div>
</form>
</body>
</html>