{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Login</h1>
<p> {{ message }} </p>
<form class="login-form" id="login-form" action="/user/login" method="POST">
    <div class="form-group col-lg-4 mx-auto mt-2" id="email">
        {{ form.email.label }}
        {{ form.email(class_="form-control mt-2", autofocus="true",  id="email", placeholder="E-mail")}}
        {% for error in form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group col-lg-4 mx-auto mt-2">
        {{ form.password.label }}
        {{ form.password(class_="form-control mt-2", id="password", placeholder="Password")}}
        {% for error in form.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        <button class="btn btn-primary mt-4" type="submit">Login</button>
    </div>
</form>
{% endblock %}