{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <p>{{ error }}</p>
    <form class="register-form" id="register-form" action="/user/register" method="POST">
        <div class="form-group col-lg-4 mx-auto mt-2" id="first_name">
            {{ form.first_name.label }}
            {{ form.first_name(class_="form-control mt-2", autofocus="true",  id="first_name", placeholder="First name")}}
            {% for error in form.first_name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2" id="last_name">
            {{ form.last_name.label }}
            {{ form.last_name(class_="form-control mt-2",  id="last_name", placeholder="Last name")}}
            {% for error in form.last_name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2" id="email">
            {{ form.email.label }}
            {{ form.email(class_="form-control mt-2",  id="email", placeholder="E-mail")}}
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2">
            {{ form.password.label }}
            {{ form.password(class_="form-control mt-2", id="password", placeholder="Password min 6 characters")}}
            {% for error in form.password.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2">
            {{ form.venue_email.label }}
            {{ form.venue_email(class_="form-control mt-2", id="venue_email", placeholder="Venue E-mail")}}
            {% for error in form.venue_email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2">
            {{ form.venue_password.label }}
            {{ form.venue_password(class_="form-control mt-2", id="venue_password", placeholder="Venue password")}}
            {% for error in form.venue_password.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group col-lg-4 mx-auto mt-2">
            {{ form.urban_sports_member_no.label }}
            {{ form.urban_sports_member_no(class_="form-control mt-2", id="urban_sports_member_no", placeholder="USC Membership Number")}}
            {% for error in form.urban_sports_member_no.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            <button class="btn btn-primary mt-4" type="submit">Register</button>
        </div>
    </form>
{% endblock %}