{% extends "base.html" %}
{% block title %} Reservations {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Reservations</h1>
<div class="container col-6 d-flex justify-content-center">
    <table class="table table-responsive" style="text-align: center">
        <tr>
            <th>Reservation id</th>
            <th>Booking id</th>
            <th>User id</th>
            <th>Created at</th>
            <th>Status</th>
        </tr>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.booking_id }}</td>
            <td>{{ reservation.user_id }}</td>
            <td>{{ reservation.created_at }}</td>
            <td>{{ reservation.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}