{% extends "base.html" %}
{% block title %} Show reservation {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Show reservation</h1>
<p>Successfully added a reservation</p>
<div class="container d-flex justify-content-center">
    <table class="table table-responsive" style="text-align: center">
        <tr>
            <th>Reservation id</th>
            <th>Booking id</th>
            <th>User id</th>
            <th>Created at</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.booking_id }}</td>
            <td>{{ reservation.user_id }}</td>
            <td>{{ reservation.created_at }}</td>
            <td>{{ reservation.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}