{% extends "base.html" %}
{% block title %} Users {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Users</h1>
<div class="container col-6 d-flex justify-content-center">
    <table class="table table-responsive" style="text-align: center">
        <tr>
            <th>User Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Venue email</th>
            <th>Bookings</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.venue_email }}</td>
            <td>{{ user.bookings }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}