{% extends "base.html" %}
{% block title %} Venues {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Venues</h1>
<div class="mb-4">
    <button class="btn btn-primary mt-4" type="submit" onclick="window.location.href='/venue/create'">Create a venue</button>
</div>
<div class="container d-flex justify-content-center">
    <table class="table table-responsive" style="text-align: center">
        <tr>
            <th>Venue id</th>
            <th>Venue name</th>
            <th>URL</th>
            <th>Created at</th>
            <th>Bookings</th>
        </tr>
        {% for venue in venues %}
        <tr>
            <td>{{ venue.id }}</td>
            <td>{{ venue.venue_name }}</td>
            <td>{{ venue.venue_url }}</td>
            <td>{{ venue.created_at }}</td>
            <td>{{ venue.bookings }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}